#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin: 1.5rem 0 0.5rem 0;
}

.chart-container {
  width: 600px;
  margin: 20px auto;
}

.card {
  padding: 1.5em;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
